.how-to-videos{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.how-to-videos .video{
  background: #FFFFFF;
  width: calc(25% - 32px);
  margin: 15px;
  border: 1px solid #DDD;
}

@media (max-width: 1200px) {
  .how-to-videos .video {
    width: calc(33% - 32px);
  }
}

@media (max-width: 992px) {
  .how-to-videos .video {
    width: calc(50% - 32px);
  }
}

@media (max-width: 768px) {
  .how-to-videos .video {
    width: calc(100% - 32px);
  }
}

.how-to-videos .video h2{
  padding: 5px 10px;
}
